<%- include('../includes/head', title="View Details") %>

    <%- include('../includes/navbar') %>
        
        <div class="card my-5 col-4 offset-4">
            <img src="<%= product.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= product.name %>
                </h5>
                <p class="card-text">
                    $<%= product.price %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= product.specs %>
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-danger card-link">&#9825;</a>
                <form class="card-link d-inline" action="/store/cart" method="post">
                    <button class="btn btn-info text-light">Add to cart</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                </form>
            </div>
        </div>           



    <%- include('../includes/foot') %>